form {
  position: relative;
  margin: 0 auto;
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.login-form input {
  margin-bottom: 16px;
  height: 1.5rem;
  width: 200px;
}

.login-form label {
  padding-bottom: 8px;
}
