.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin: 0 auto;
  width: 50%;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.app-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.dashboard-app {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 10vh;
  padding: 30px;
  background: rgba(255, 255, 255, 0.5);
}
