body {
  color: white;
  background: rgb(19, 96, 104);
}

.App {
  text-align: center;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}
